<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>스터디카페 위치</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xhlsw3m0s0"></script>
</head>
<body>
<div id="map" style="width:100%;height:700px;"></div>



<script>
  var HOME_PATH = window.HOME_PATH || '.';

  var cityhall = new naver.maps.LatLng(37.5050881, 126.9571012),
          map = new naver.maps.Map('map', {
            center: cityhall.destinationPoint(0, 500),
            zoom: 15
          }),
          marker = new naver.maps.Marker({
            map: map,
            position: cityhall
          });
  var contentString = [
    '<div class="iw_inner">',
    '   <h3>중앙대학교</h3>',
    '   <p>서울특별시 동작구 흑석로 84<br />',
    '   </p>',
    '</div>'
  ].join('');



  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4969506, 126.9535536),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5070302, 126.9584326),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5074679, 126.9622122),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.3595704, 127.105399),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5077685, 126.9628895),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5058786, 126.9469139),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5050351,	126.9429228),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5086098,	126.9611189),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4988936,	126.9519866),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5060590,	126.9474545),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5040775,	126.9426753),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4886286, 126.9595364),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5060976,	126.9439298),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4973113,	126.9536759),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5069826,	126.9582464),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5184527,	126.9778801),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4946697,	126.9540504),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5043326,	126.9416169),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4962218,	126.9530251),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4949589,	126.9568826),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5049875,	126.9413049),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5186465,	126.9772953),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4910604,	126.9567961),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5184361,	126.9770515),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5091028,	126.9631637),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4949627,	126.9580199),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4945844,	126.9580687),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4949772,	126.9576408),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5064177,	126.9400826),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5113165,	126.9457382),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5029561,	126.9362533),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5127519,	126.9486586),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5014481,	126.9487404),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5139795,	126.9436427),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5116012,	126.9444797),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5112054,	126.9446159),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5133132,	126.9461972),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5133762,	126.9459150),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5120839,	126.9444725),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5131502,	126.9462677),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5134093,	126.9457064),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5119076,	126.9466751),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5123799,	126.9444117),
    map: map
  });


  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5133527,	126.9447794),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5134996,	126.9453171),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5125413,	126.9445497),
    map: map
  });


  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5158028,	126.9483698),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5121974,	126.9472269),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.512308, 126.942013),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4975230,	126.9434561),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5124076,	126.9440724),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5122067,	126.9427262),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5134192,	126.9418835),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126442,	126.9415901),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5128642,	126.9423498),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4952765,	126.9549874),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5040775,	126.9426753),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5081610,	126.9605271),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5026110,	126.9487435),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126284,	126.9409033),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4952751,	126.9556539),
    map: map
  });  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4995445,	126.9514714),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4886508,	126.9589198),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5132366,	126.9391446),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5116916,	126.9390539),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5204964,	126.9701041),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5123712,	126.9385648),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4903742,	126.9753953),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4884496,	126.9781310),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126442,	126.9415901),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4894620,	126.9739891),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.4888441,	126.9486424),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5128041,	126.9366510),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5202175,	126.9677014),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5044126,	126.9462928),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5130067,	126.9474995),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5013552,	126.9488502),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5127986,	126.9482459),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5127986,	126.9482459),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126475,	126.9471691),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5131891,	126.9452256),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5124628,	126.9475716),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5242068,	126.9599294),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5124147,	126.9460189),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5125818,	126.9451253),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5130247,	126.9450128),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5131543,	126.9453686),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5127187,	126.9447505),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5115279,	126.9418786),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5129495,	126.9448566),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5123028,	126.9418160),
    map: map
  });
  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5126442,	126.9415901),
    map: map
  });


  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5081130, 126.9614292),
    map: map
  });

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5050881, 126.9571012),
    map: map
  });













  var infowindow = new naver.maps.InfoWindow({
    content: contentString
  });

  naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
      infowindow.close();
    } else {
      infowindow.open(map, marker);
    }
  });

  infowindow.open(map, marker);


</script>
</body>
</html>