<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>OneStar</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/cafeRecommend.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="#!">OneStar-StudyPlace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Help</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="py-5">
  <div class="container px-lg-5">
    <h3>Recommend similar cafes</h3>
    <div class="col-lg-2 col-xxl-12 mb-2">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-5 p-lg-0 pt-2 pt-lg-3 pb-lg-3">
          <select name="cafe" >
            <option value="none">카페선택</option>
            <option value="cafe1">카페이름1</option>
            <option value="cafe2">카페이름2</option>
            <option value="cafe3">카페이름3</option>
            <option value="cafe4">카페이름4</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-xxl-12 mb-2">
      <div class="card bg-primary border-0 h-100">
        <div class="card-body text-center p-0 p-lg-0 pt-0 pt-lg-2 pb-lg-2">
          <label class="fs-6"><input type="button"> 비슷한 카페 결과 보기</label>
        </div>
      </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-5">
    <!-- Page Features-->
    <div class="row gx-lg-3">

      <h3> Best 10 similar cafes to recommend</h3>
      <p>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 1:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 2:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 3:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 4:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 5:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 6:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 7:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 8:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 9:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
        <li class="list-group-item">
          <p class="fs-4 fw-bold">cafe 10:</p><br>
          <p class="fs-6">rank:</p>
          <p class="fs-6">location:</p>
        </li>
      </ul>
      <br></br>
      </p>
      <p>
        <br></br>
      </p>
      <p>
        <br></br>
      </p>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>